
@media (max-width: 575.98px) {
    /*Club*/
    .arrow-down::after{
        margin-top: 40vh !important;
    }
    .title-banner{
        margin-top: 10vh !important;
    }
    .btn-back-to-top{
        right: 2vw;
    }
    /*Cast*/
    .story{
        padding: 5vw !important;
    }
    
}


@media (min-width: 576px) and (max-width: 767.98px) {
    /*Club*/
    .arrow-down::after{
        margin-top: 50vh !important;
    }
    .btn-back-to-top{
        right: 4vw !important;
    }
    .title-banner{
        margin-top: 15vh !important;
    }
    /*Story*/
    .story{
        padding: 0 5vw !important;
    }
    
   
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
}

@media (min-width: 992px) and (max-width: 1200.00px) {
    
}
