body{
    font-family: "../fonts/Aileron/Aileron-UltraLight.ttf";
}
body h1{
  color: #000;
}
h1{
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 800;
}
h2{
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
}

article{
  padding: 2.5rem 0;
}
article  p{
  color:#555;
}
/*Club*/
nav strong{
    color: #FFFFFF;
  }
  .nav-span{
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
  }
  .title-banner{
    margin-top: 25vh;
    color: #fff;
    font-weight: 800;
    font-size: 3rem;
    text-align:center;
    letter-spacing: 15px;
    text-shadow: 2px 3px 1px #000;
}

/*Story*/
  
  .text-story{
    line-height: 2.5rem;
    font-size: 1.3rem;
    letter-spacing: .069rem;
  } 
  /*Cast*/
  
  .name{
    font-weight: bold;
  }
  
  .footer p {
    font-size:1.3rem;
    line-height:1rem;
    color: #FFFFFF;
  }
  